body{
  background-color:rgb(174, 138, 59);
}

header{
  background-color:white;
}

nav a:hover {
  background-color: black;
}


div {
  max-width: 1600px;
}

#content {
    margin: 0 auto;
    text-align: center;    
}

#hero-msg h1{
  text-align: center;
}

.button-box{
  text-align: center;
}
#background {
  height: 725px;
}
nav a {
  text-align: center;
  color: #4e4747;
  text-decoration: none; 
  background-color:white;   
}
nav a:hover{
  background-color:white;
  color: #a41616;
}
.home-title {
  background-color: #2d322e81;
  color:#faf9f9;
}
h4{
  background-color: #2d322e81;
  color:#faf9f9;
}
.icon {
  width: 80px;
}
 
.book, .join {
  text-align: center;
  color: #f5f9f7;
  text-decoration: none;
} 

.book:hover, .join:hover{
  text-align: center;
  color: #a41616;
}

.msg h2{
  text-align: center;
  color: #505454;
  background-color: #16a437;
}

.msg p{
  text-align: center;
  color: #505454;
  background-color: #16a437;
}

footer h3{text-align: center;
  color: #900a4d;
  background-color: #a3a9a4;
}

footer a {
  text-align: center;
  color: #a41616;
  background-color: burlywood;
  text-decoration: none;
}


footer a:hover {
  color: #505454;
  background-color: #16a437; 
  
}

footer h3 a:hover {
  text-decoration: underline;
}


  



